.cart {
      background: rgba(255, 153, 0, 0.3);
      border-radius: 8px;
      padding:20px;
      margin-top: 20px;
      position: sticky;
      top: 20px;
}
.cart h3{
      text-align: center;
}