.product {
      background-color: aquamarine;
      border-radius: 20px;
      margin: 30px;
      height: 500px;
      position: relative;
}

.product img {

      margin: 10px;
      width: 200px;
      border-radius: 20px;
}

.name {
      margin-top: 5px;
      margin-left: 15px;
      font-weight: 400;
      font-size: 21px;
      display: flex;
      justify-content: flex-start;
}

.price {
      margin-top: -30px;
      margin-left: 15px;
      font-weight: 400;
      font-size: 21px;
      display: flex;
      justify-content: flex-start;
     
}

.seller {
      margin-top: 50px;
      margin-left: 15px;
      display: flex;
      justify-content: flex-start;
      
}


.ratings {
      margin-top: -20px;
      margin-left: 15px;
      display: flex;
      justify-content: flex-start;
      
}

.btn-cart {
      width: 100%;
      position: absolute;
      bottom: 0px;
      background: #FFE0B3;
      border: 1px solid #95A0A7;
      border-radius: 0px 0px 8px 8px;
      
}
.btn-cart:hover{
      background-color: chartreuse;
}